* {
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex: 1;
}

.break {
	flex-basis: 100%;
	height:0;
}

.header-logo {
	display: flex;
	height: 12em;
	width: auto;
	background-color: #320f32;
	/* margin-left: auto;
	margin-right: auto;
	width: 50%; */
}

.logo-img {
	margin: auto;
	width: auto;
	/* border: 3px solid green; */
	/* padding: 10px; */
	height: 200px;
}

.border {
	border-bottom: 0.5em solid transparent;
	border-image: linear-gradient(
		90deg,
		#320f32 0%,
		#320f32 8.2%,
		#9f3895 8.3%,
		#9f3895 23.8%,
		#fbb03f 23.9%,
		#fbb03f 30.4%,
		#f3cb36 30.5%,
		#f3cb36 44.6%,
		#8c7f32 44.7%,
		#8c7f32 46.4%,
		#a6c838 46.5%,
		#a6c838 85.2%,
		#39b54a 85.3%,
		#39b54a 88.1%,
		#00a2ae 88.2%,
		#00a2ae 100%
	);
	border-image-slice: 1;
	margin: 0px;
}

.btn {
	display: flex;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	margin: 32px;
	padding: 32px;
	box-shadow: 0.3em 0.3em 1em rgba(41, 40, 40, 0.336);
	transition: 200ms ease-in-out;
}

/* button borders  */
.btn-border-catalog {
	border: 6px solid #9f3895;
	border-radius: 32px;
}
.btn-border-checkout {
	border: 6px solid #9f3895;
	border-radius: 32px;
}
.btn-border-events {
	border: 6px solid #9f3895;
	border-radius: 32px;
}
.btn-border-meeting {
	border: 6px solid #9f3895;
	border-radius: 32px;
}

/* button border hover effects  */
.btn-border-catalog:hover {
	border-color: #00a2ae;
}
.btn-border-checkout:hover {
	border-color: #4f0045;
}
.btn-border-events:hover {
	border-color: #fbb03f;
}
.btn-border-meeting:hover {
	border-color: #a6c838;
}

/* .btn-border:hover:after {
	transition: 200ms ease-out;
} */

.btn-img {
	height: auto;
	width: auto;
}
