/* Basic reset */
* {
	margin: 0;
	padding: 0;
  }

  html,body {
	height: 100%;
  }
  .wrap {
	min-height: 100%;
  }

  .special-heading {
	font-family: 'Oswald';
	color: #39b54a;
  }
  
  .main {
	overflow: auto;
	/*padding-bottom: 450px;*/
	/* must be same height as the footer */}
  
  /* Header styling */
  .header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12em;
	background-color: #320f32;
  }
  
  .logo-img {
	width: auto;
	height: 200px;
  }
  
  /* For the color border line */
  .border {
	border-bottom: 0.5em solid transparent;
	border-image: linear-gradient(
	  90deg,
	  #320f32 0%,
	  #320f32 8.2%,
	  #9f3895 8.3%,
	  #9f3895 23.8%,
	  #fbb03f 23.9%,
	  #fbb03f 30.4%,
	  #f3cb36 30.5%,
	  #f3cb36 44.6%,
	  #8c7f32 44.7%,
	  #8c7f32 46.4%,
	  #a6c838 46.5%,
	  #a6c838 85.2%,
	  #39b54a 85.3%,
	  #39b54a 88.1%,
	  #00a2ae 88.2%,
	  #00a2ae 100%
	);
	border-image-slice: 1;
  }

  .card {
    background-color: transparent;
    margin: 32px;
    padding: 32px;
    box-shadow: 0.3em 0.3em 1em rgba(41, 40, 40, 0.336);
}

/* Text for each individual cards  */
.card-text-catalog {
	color: #00a2ae;
	font-size: 2.5em;
}
.card-text-checkout {
	color: #320f32;
	font-size: 2.5em;
}
.card-text-events {
	color: #fbb03f;
	font-size: 2.5em;
}
.card-text-meetings {
	color: #a6c838;
	font-size: 2.5em;
}

  /* Flip card container */
  .flip-card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px; /* Adjust the gap as needed */
	margin: 20px auto; /* Center the container horizontally */
	padding: 0 20px;
  }
  
  /* Flip card styling */
  .flip-card {
	width: 48%; /* Two cards per row */
	height: 500px;
	perspective: 1000px;
  }

  .flip-card .card img {
	width: 100%;
	height: 
	auto;
  }

  .flip-card-inner {
	position: relative;
	width: 500px;
	height:500px;
	transform-style: preserve-3d;
	transition: transform 0.60s;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Flip card faces */
  .flip-card-front, .flip-card-back-catalog, .flip-card-back-checkout, .flip-card-back-events, .flip-card-back-meetingroom {
    position: absolute;
    width: 500px;
    height: 500px;
    backface-visibility: hidden;
	font-size: 16px;
  }
  
  /* Flip card front styling */
  .flip-card-front {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  .flip-card-back-catalog, .flip-card-back-checkout, .flip-card-back-events, .flip-card-back-meetingroom {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
  }

  /* Flip card back styling */
  .flip-card-back-catalog {
	background-color: #00a2ae;

  }
  .flip-card-back-checkout {
	background-color: #4f0045;

  }
  .flip-card-back-events {
	background-color: #fbb03f;

  }
  .flip-card-back-meetingroom {
	background-color: #a6c838;

  }

  
  /* Footer */
  .footer {
	position: absolute;
	/*margin-top: 450px;*/
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: #320f32;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .logo-img-footer {
	width: 200px;
	height: auto;
	margin-right: 10px;
  }
  
  .footer-button-display {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .footer-button-display button {
	margin: 0 10px;
	padding: 10px 20px;
	border: none;
	background-color: #f0f0f0;
	color: #333;
	font-size: 16px;
	cursor: pointer;
  }

  .footer-button-display button:hover {
	background-color: lightgray;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.flip-card-container {
	  flex-direction: column;
	  align-items: center;
	}
	.flip-card {
	  width: 100%;
	  margin-bottom: 20px;
	}
  }
  
  .popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,
			0,
			0,
			0.4);
	display: none;
}

/* the DIV where the buttons themselves are in*/
.popup-menu {
	display: flex;            /* Use flexbox for layout */
	flex-wrap: wrap;          /* Allow wrapping of elements to the next line */
	gap: 10px;                /* Add space between buttons */
	margin-bottom: 20px; 	 /* Space between popup menu and the close button */
	margin-top: 20px; 
  }
  
.popup-button {
	flex: 0 0 calc(50% - 10px);
	box-sizing: border-box;
	padding: 10px;
  }

.popup-content {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 30%;
	font-weight: bolder;
	color: black;
}

.popup-content button {
	display: block;
	margin: 0 auto;
}

.popup-content button:hover {
    background-color: #a6c838;
	color:white;
}

.show {
	display: block;
}

#closePopup:hover {
    background-color: #a6c838;
	color:white;
	; /* Optional: Hover effect for close button */
}

/* Style for the Text Size menu */
#fontSizeMenu {
	display: none;
	position: absolute;
	bottom: 70px;
	transform: translateX(-27%); /* Adjust horizontally to align it better */
	background-color: white;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 5px;
  }
  
  .font-size-option {
	padding: 8px 10px;
	cursor: pointer;
	font-size: 14px;
  }
  
  .font-size-option:hover {
	background-color: #f0f0f0;
  }
  
  /* Optionally, style for the body when the font size changes */
  body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px; /* Default font size */
  }
  