/* Basic reset */
* {
	margin: 0;
	padding: 0;
  }

  html,body {
	height: 100%;
  }
  .wrap {
	min-height: 100%;
  }

  .special-heading {
	font-family: 'Avenir-Light';
	color: #39b54a;
  }
  
  .main {
	overflow: auto;
	/*padding-bottom: 450px;*/
	/* must be same height as the footer */}
  
  /* Header styling */
  .header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12em;
	background-color: #320f32;
  }
  
  .logo-img {
	width: auto;
	height: 200px;
  }

	/** Adds the Avenir LIGHT Custom font */
	@font-face {
		font-family: 'Avenir-Light';
		src: url('./fonts/Avenir-Book-01.ttf') format('truetype');
	}
	/** Adds the Avenir LIGHT Custom font */
	@font-face {
		font-family: 'Avenir-Medium';
		src: url('./fonts/Avenir-Medium-09.ttf') format('truetype');
	}
	/** Adds the Avenir HEAVY Custom font */
	@font-face {
		font-family: 'Avenir-Heavy';
		src: url('./fonts/Avenir-Heavy-05.ttf') format('truetype');
	}

	/** Adds the Avenir HEAVIEST Custom font */
	@font-face {
		font-family: 'Avenir-Black';
		src: url('./fonts/Avenir-Black-03.ttf') format('truetype');
	}
  
  /** For the color border line */
  .border {
	border-bottom: 0.5em solid transparent;
	border-image: linear-gradient(
	  90deg,
	  #320f32 0%,
	  #320f32 8.2%,
	  #9f3895 8.3%,
	  #9f3895 23.8%,
	  #fbb03f 23.9%,
	  #fbb03f 30.4%,
	  #f3cb36 30.5%,
	  #f3cb36 44.6%,
	  #8c7f32 44.7%,
	  #8c7f32 46.4%,
	  #a6c838 46.5%,
	  #a6c838 85.2%,
	  #39b54a 85.3%,
	  #39b54a 88.1%,
	  #00a2ae 88.2%,
	  #00a2ae 100%
	);
	border-image-slice: 1;
  }


  /* I think this is a nothing burger.
  .card {
    background-color: transparent;
} */

h2 {
	font-family: 'Avenir-Black';
	font-size: 2.5em;
}

/* Text for each individual cards  */
.card-text-catalog {
	color: #00a2ae;
	
}
.card-text-checkout {
	color: #320f32;
	
}
.card-text-events {
	color: #fbb03f;

}
.card-text-meetings {
	color: #a6c838;
	
}

/* Flip card styling */
.flip-card {
	width: 48%; /* Keeps it to two cards per row */
	height: 500px;
	perspective: 1000px;
  }

  /* Flip card container. It's what holds all the cards. */
  .flip-card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px; /* Adjust the gap as needed */
	margin: 20px auto; /* Center the container horizontally */
	padding: 20px;
  }
  
  .flip-card .card img {
	width: 100%;
	height: auto;
  }

/*This container is needed to position the front and back side of the card. */
  .flip-card-inner {
	position: relative;
	width: 500px;
	height:500px;
	text-align: center; /*Ths is centering "h2" headers on front of card. */
	transform-style: preserve-3d;
	transition: transform 0.60s;
	box-shadow: 0.3em 0.3em 1em rgba(41, 40, 40, 0.336);
	border-radius: 4px;
  }
  
  /* Flip card faces */
  .flip-card-front, .flip-card-back-catalog, .flip-card-back-checkout, .flip-card-back-events, .flip-card-back-meetingroom {
    position: absolute;
    width: 500px;
    height: 500px;
    backface-visibility: hidden;
		font-size: 20px;
		border-radius: 4px;
  }

  /* I think this is another nothing burger. 
  When it's commented OUT, the image also stops spilling from the top of the card when flipped to its back for descriptions
  .flip-card-front {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }  */

  .flip-card-back-catalog, .flip-card-back-checkout, .flip-card-back-events, .flip-card-back-meetingroom {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
  }

  /* Flip card back styling */
  .flip-card-back-catalog {
	background-color: #00a2ae;

  }
  .flip-card-back-checkout {
	background-color: #4f0045;

  }
  .flip-card-back-events {
	background-color: #fbb03f;

  }
  .flip-card-back-meetingroom {
	background-color: #a6c838;

  }
/* Combined button style */
.back-card-button {
  appearance: button;
  background-color: transparent; /* To allow the gradient background to show through */
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  margin-top: 20px; /* Adjust this value to control the space */
  outline: none;
  overflow: visible;
  padding: 20px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s, background 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

/* Apply linear gradient as the background */
.back-card-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #320f32,
    #9f3895,
    #a6c838,
    #39b54a,
    #00a2ae
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-back-card-button 20s linear infinite;
  border-radius: 16px;
}

/* Animation for the glowing effect */
@keyframes glowing-back-card-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Button after the gradient */
.back-card-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 16px;
}

/* Hover effect */
.back-card-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

/* Disabled state */
.back-card-button:disabled {
  cursor: auto;
}

/* Active state */
.back-card-button:active {
  border-width: 4px 0 0;
  background: none;
}


/*? PHOTO CAROUSEL 📸 */

.container {
	max-width: 1080px;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.carousel-view {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 44px 0;
	transition: all 0.25s ease-in;
}

.carousel-view .item-list {
	max-width: 1080px;
	width: 100vw;
	padding: 50px 10px;
	display: flex;
	gap: 48px;
	scroll-behavior: smooth;
	transition: all 0.25s ease-in;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	overflow: auto;
	scroll-snap-type: x mandatory;
	list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
	display: none;
}

.item {
	scroll-snap-align: center;
	min-width: 225px;
	height: 225px;
	background-color: deeppink;
	border-radius: 4px;
	box-shadow: 0.3em 0.3em 1em rgba(41, 40, 40, 0.336);
}
/*? PHOTO CAROUSEL END📸 */

  
  /*? Footer */
  .footer {
	position: absolute;
	/*margin-top: 450px;*/
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: #320f32;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .logo-img-footer {
	width: 200px;
	height: auto;
	margin-right: 10px;
  }
  
  .footer-button-display {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
	.footer-button-display button {
		margin: 0 10px;
		padding: 10px 20px;
		border: none;
		border-radius: 2px;
		background-color: white;
		color: #333;
		font-family: 'Avenir-Medium';
		font-size: 16px;
		cursor: pointer;
	}

  .footer-button-display button:hover {
	background-color: lightgray;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.flip-card-container {
	flex-direction: column;
	align-items: center;
	}
	.flip-card {
	width: 100%;
	margin-bottom: 20px;
	}
  }
  
  .popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,
			0,
			0,
			0.4);
	display: none;
	justify-content: center;   /* Center horizontally */
	align-items: center;       /* Center vertically */
}

/* the DIV where the buttons themselves are in*/
.popup-menu {
	display: flex;            /* Use flexbox for layout */
	flex-wrap: wrap;          /* Allow wrapping of elements to the next line */
	gap: 10px;                /* Add space between buttons */
	margin-bottom: 20px; 	 /* Space between popup menu and the close button */
	margin-top: 20px; 
  }

.popup-button button {
	flex: 0 0 calc(50% - 10px);
	box-sizing: border-box;
	padding: 10px;
  }

.popup-content {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 30%;
	/* font-family: 'Avenir-Light'; */
	/* font-weight: bolder; */
	color: black;
}

.popup-content button {
	display: block;
	margin: 0 auto;
}

.popup-content button:hover {
    background-color: #a6c838;
	color:white;
}

.show {
	display: block;
}

#closePopup:hover {
    background-color: #a6c838;
	color:white;
	; /* Optional: Hover effect for close button */
}

/* Style for the Text Size menu */
#fontSizeMenu {
	display: none;
	position: absolute;
	bottom: 70px;
	transform: translateX(-27%); /* Adjust horizontally to align it better */
	background-color: white;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 5px;
	z-index: 10000;
  }
  
  .font-size-option {
	padding: 8px 10px;
	cursor: pointer;
	font-size: 14px;
  }
  
  .font-size-option:hover {
	background-color: #f0f0f0;
  }
  
  /* Optionally, style for the body when the font size changes */
  body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px; /* Default font size */
  }
  